<div class="nav">
  <button type="button" class="btn btn-primary" ng-model="singleModel" ng-click="analticFn()" >
    ANALYTIC
  </button>
  <button type="button" class="btn btn-primary logout_container" ng-model="singleModel" ng-click="viewAllRegisterSchool()">
    View All schools
  </button>
    <button type="button" class="btn btn-success logout_container" ng-model="singleModel" ng-click="addNewAdmin()">
      Add Admin
    </button>
    <a href='/adminlogout'>
      <button type="button" class="btn btn-danger logout_container" ng-model="singleModel">
        Logout
      </button></a>
  </div>
<u><center><h1>Admin Panel</h1></center></u>

<div class="admin_div container" >
    <div class="modal-header">
        <h3 class="modal-title mod" id="modal-title ">Add School</h3>
       </div>
       <div class="modal-body" id="modal-body">
       
            <div class="form-group modalDiv"> 
                 <label for="school_name" class="col-md-2 mod control-label modallable">School Name: </label> 
                 <div class="col-md-10"> 
                  <input type="text"  ng-model="school_name" value="" class="form-control" /> 
                 </div> 
             </div>
             <br>
            <div class="form-group modalDiv"> 
                 <label for="school_email" class="col-md-2 mod control-label modallable">School Email: </label> 
                 <div class="col-md-10"> 
                  <input type="text"  ng-model="school_email" value="" class="form-control" /> 
                 </div> 
             </div> 
            
            <br>
            <div class="form-group modalDiv"> 
               <label for="city" class="col-md-2 control-label mod modallable">City: </label> 
               <div class="col-md-10"> 
                <input type="text"  ng-model="city" value="" class="form-control"  /> 
               </div> 
           </div> 
           <br>
           <div class="form-group modalDiv"> 
              <label for="region" class="col-md-2 control-label mod modallable">Region: </label> 
              <div class="col-md-10"> 
               <input type="text"  ng-model="region" value="" class="form-control"  /> 
              </div> 
          </div> 
            <br>
            <div class="form-group modalDiv"> 
                 <label for="area" class="col-md-2 control-label mod modallable">Area: </label> 
                 <div class="col-md-10"> 
                  <input type="text"  ng-model="area" value="" class="form-control"  /> 
                 </div> 
             </div> 
            
           
           <br><br>
          
       
       
       </div>
       <br>
       <div class="modal-footer">
        <button class="btn btn-primary myBtn" type="button" ng-click="ok(school_name,school_email,city,region,area)">Add</button>
        
       
       </div>
</div>

<hr><hr><hr>


