<div class="menu_container">
  <i class="fas fa-chevron-circle-down" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal"></i>

  <div class="horizontal-collapse menu" uib-collapse="isCollapsedHorizontal" horizontal>

    <div class="Mynav">
      <button type="button" class="btn btn-success" ng-model="singleModel" ng-click="analticFn()">
        ANALYTIC
      </button>

      <div ng-controller="mainController">
        <a href="javascript:void(null);" class="btn btn-primary modelDiv" data-toggle="modal" ng-click="showPopup()"><i
            class="material-icons"></i> <span>Add City</span></a>
      </div>

      <button type="button" class="btn btn-success logout_container" ng-model="singleModel" ng-click="addNewAdmin()">
        Add Admin
      </button>

      <div class="btn-group " uib-dropdown>
        <button id="split-button" type="button" class="btn btn-primary btnDesign">School</button>
        <button type="button" class="btn btn-primary btnDesign" uib-dropdown-toggle>
          <span class="caret "></span>
          <span class="sr-only ">Split button!</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
          <li role="menuitem" ng-click="addSchoolScreenFn()" class='list'>Add School</li>
          <li class="divider"></li>
          <li role="menuitem" ng-click="viewAllRegisterSchool()" class='list'>View All School</li>
        </ul>
      </div>

      <button type="button" class="btn btn-danger logout_container" ng-model="singleModel" ng-click="Adminlogout()">
        Logout
      </button>
    </div>

  </div>
</div>
<hr>


<center>
  <h1>Registered Schools</h1>
</center>

<div class="ana_div">
  <!-- <select class='areaSchoolSelect' ng-model="SchooolareaName">
    <option ng-repeat="y in uniqueNames track by $index" value="{{y}}">{{y}}</option>
  </select>

  <button type="button" class="btn btn-success areaSchoolSelectBtn" ng-model="singleModel "
    ng-click="FetchAllSchoolAccToArea(SchooolareaName)">
    School
  </button> -->

  <div class='searchBox'>
    <input class="form-control " type="text" ng-model="searchVal2" id="field2" placeholder="Enter school name">
  </div>
</div>
<table class="table table-striped table-hover">
  <tr height="1.5rem">
    <td scope="col">S.No.
    </td>
    <td ng-click='sort("name")' scope="col">School Name
      <i class="fas fa-angle-down"></i>
    </td>
    <td scope="col">Email</td>
    <td scope="col">Region</td>
    <td scope="col">City</td>
    <td scope="col">Area</td>
    <td scope="col"></td>
  </tr>

  <tr height="1.5rem"
    ng-repeat="school in SchoolAllDetailsArr | orderBy:sortKey:reverse | filter:{schoolname: searchVal2}">
    <td text-align='center'>{{$index+1}}</td>
    <td text-align='center'>{{school.schoolname}}</td>
    <td text-align='center'>{{school.schoolemail}}</td>
    <td text-align='center'>{{school.region}}</td>
    <td text-align='center'>{{school.city}}</td>
    <td text-align='center'>{{school.area}}</td>
    <td text-align='center'>
      <button type="button" class="btn btn-danger" ng-model="singleModel"
        ng-click="deleteSchoolDetailsFromDb(school._id)" )">
        <i class="fas fa-trash-alt"></i>
      </button>
    </td>
  </tr>

</table>

<div class="pagNav" align='center'>
  <ul uib-pagination total-items="totalitems" ng-model=pagination.currentPage max-size="10" num-pages="numPages"
    ng-change="schoolPageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></ul>
</div>