
<i class="fas fa-chevron-circle-down" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal"></i>

<hr>
	<div class="horizontal-collapse" uib-collapse="isCollapsedHorizontal" horizontal>
    
    <div class="nav">
      <button type="button" class="btn btn-success" ng-model="singleModel" ng-click="analticFn()" >
        ANALYTIC
      </button>
     
      <div ng-controller="mainController">
      <a href="javascript:void(null);" class="btn btn-primary modelDiv" data-toggle="modal" ng-click="showPopup()"><i class="material-icons"></i> <span>Add City</span></a>
    </div>
    
        <button type="button" class="btn btn-success logout_container" ng-model="singleModel" ng-click="addNewAdmin()">
          Add Admin
        </button>
    
    
        <div class="btn-group " uib-dropdown>
          <button id="split-button" type="button" class="btn btn-primary btnDesign">School</button>
          <button type="button" class="btn btn-primary btnDesign" uib-dropdown-toggle>
            <span class="caret "></span>
            <span class="sr-only ">Split button!</span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
            <li role="menuitem" ng-click="addSchoolScreenFn()" class='list'>Add School</li>
            <li class="divider"></li>
            <li role="menuitem" ng-click="viewAllRegisterSchool()" class='list'>View All School</li>
          </ul>
        </div>
    
    
        <a href='/adminlogout'>
          <button type="button" class="btn btn-danger logout_container" ng-model="singleModel">
            Logout
          </button></a>
      </div>
    
	</div>

 




<u><center><h1>Admin Panel</h1></center></u>

<div class="admin_div container" >
    <div class="modal-header">
        <h3 class="modal-title mod" id="modal-title ">Add School</h3>
       </div>
       <div class="modal-body" id="modal-body">
      
        <div class="mb-5 ">
          <label for="region" class="col-md-2 control-label mod modallable">Region: </label> 
          <select class='dropdownStyle' ng-model="region"  ng-change="FetchAllCityName(region)">
            <option ng-repeat="x in regionNameList track by $index" value="{{x}}">{{x}}</option>
            </select>
        </div><br>

           <div class="mb-5 ">
            <label for="city" class="col-md-2 control-label mod modallable">City: </label> 
            <select class='dropdownStyle' ng-model="city" ng-change="FetchAllareaName(city)">
              <option ng-repeat="x in cityNameArr track by $index" value="{{x}}">{{x}}</option>
              </select>
          </div><br>

          <div class="mb-5 ">
            <label for="city" class="col-md-2 control-label mod modallable">Area: </label> 
            <select class='dropdownStyle' ng-model="area">
              <option ng-repeat="x in areaNameArr track by $index" value="{{x}}">{{x}}</option>
              </select>
          </div><br>

    

             <div class="form-group modalDiv"> 
              <label for="school_name" class="col-md-2 mod control-label modallable">School Name: </label> 
              <div class="col-md-10"> 
               <input type="text"  ng-model="school_name" value="" class="form-control" /> 
              </div> 
          </div>
          <br><br>
         <div class="form-group modalDiv"> 
              <label for="school_email" class="col-md-2 mod control-label modallable">School Email: </label> 
              <div class="col-md-10"> 
               <input type="text"  ng-model="school_email" value="" class="form-control" /> 
              </div> 
          </div>    
           <br><br>
          
       
       
       </div>
       <br>
       <div class="modal-footer">
         
        <button class="btn btn-primary myBtn" type="button" ng-click="AddSchoolFn(school_name,school_email,city,region,area)">Add</button>
        
       
       </div>
</div>

<hr><hr><hr>


